body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('image/Menu/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    position: relative;
    width: 300px;
    height: 350px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 40px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 40px #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
has context menu
   


.login-form {
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
